In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
import os
base = os.path.dirname('/u/weim/lob/notebooks/performance_benchmark_strategies_damping_factors.ipynb')
parent_dir = os.path.dirname(base)

In [8]:
damping_factor = 0.0
noise=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_noise_environment_damping_factor_{damping_factor}.csv', index_col=0)
flow=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_flow_environment_damping_factor_{damping_factor}.csv', index_col=0)
print('#######')
print(f'c={damping_factor}')
print('#######')
print()
print('noise environment:')
display(noise) 
print('flow environment:')
display(flow)

damping_factor = 0.0
noise=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_noise_environment_damping_factor_{damping_factor}_4levels.csv', index_col=0)
flow=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_flow_environment_damping_factor_{damping_factor}_4levels.csv', index_col=0)
print('#######')
print(f'c={damping_factor}, only first 4 levels')
print('#######')
print()
print('noise environment:')
display(noise) 
print('flow environment:')
display(flow)


damping_factor = 0.0
noise=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_noise_environment_damping_factor_{damping_factor}_sign.csv', index_col=0)
flow=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_flow_environment_damping_factor_{damping_factor}_sign.csv', index_col=0)
print('#######')
print(f'c={damping_factor}, I = sign(I)')
print('#######')
print()
print('noise environment:')
display(noise) 
print('flow environment:')
display(flow)

damping_factor = 0.0
noise=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_noise_environment_damping_factor_{damping_factor}_sqrt.csv', index_col=0)
flow=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_flow_environment_damping_factor_{damping_factor}_sqrt.csv', index_col=0)
print('#######')
print(f'c={damping_factor}, I = sgn(I)sqrt(|I|)')
print('#######')
print()
print('noise environment:')
display(noise) 
print('flow environment:')
display(flow)


damping_factor = 0.1
noise=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_noise_environment_damping_factor_{damping_factor}.csv', index_col=0)
flow=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_flow_environment_damping_factor_{damping_factor}.csv', index_col=0)
print('#######')
print(f'c={damping_factor}')
print('#######')
print()
print('noise environment:')
display(noise) 
print('flow environment:')
display(flow)



damping_factor = 10.0
noise=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_noise_environment_damping_factor_{damping_factor}.csv', index_col=0)
flow=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_flow_environment_damping_factor_{damping_factor}.csv', index_col=0)
print('#######')
print(f'c={damping_factor}')
print('#######')
print()
print('noise environment:')
display(noise) 
print('flow environment:')
display(flow)

damping_factor = 1.0
noise=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_noise_environment_damping_factor_{damping_factor}_market_scale2.csv', index_col=0)
flow=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_flow_environment_damping_factor_{damping_factor}_market_scale2.csv', index_col=0)
print('#######')
print(f'c={damping_factor}, market intensity scaled by a factor of 2')
print('#######')
print()
print('noise environment:')
display(noise) 
print('flow environment:')
display(flow)

noise=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_noise_environment_damping_factor_{damping_factor}_sgn_imb.csv', index_col=0)
flow=pd.read_csv(f'{parent_dir}/results/performance_benchmarks_flow_environment_damping_factor_{damping_factor}_sgn_imb.csv', index_col=0)
print('#######')
print(f'c={damping_factor}, I = sign(I)')
print('#######')
print()
print('noise environment:')
display(noise) 
print('flow environment:')
display(flow)

#######
c=0.0
#######

noise environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.52    2.00        -0.34           2.25
20       -0.93        0.51 -0.07    2.27        -0.70           2.39
30       -1.28        0.55 -0.59    2.41        -1.22           2.34
40       -1.59        0.58 -1.18    2.49        -1.71           2.41
100      -3.22        0.67 -3.53    2.18        -4.49           2.30

flow environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.26    2.39        -0.65           2.72
20       -0.94        0.51 -0.47    2.71        -1.19           2.94
30       -1.28        0.55 -1.02    2.79        -1.61           2.90
40       -1.60        0.58 -1.69    2.81        -2.30           2.90
100      -3.22        0.67 -4.24    2.57        -5.23           2.73

#######
c=0.0, only first 4 levels
#######

noise environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.52    2.00        -0.34           2.25
20       -0.93        0.51 -0.07    2.27        -0.70           2.39
30       -1.28        0.55 -0.59    2.41        -1.22           2.34
40       -1.59        0.58 -1.18    2.49        -1.71           2.41
100      -3.22        0.67 -3.53    2.18        -4.49           2.30

flow environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.44    1.86        -0.10           2.08
20       -0.93        0.51 -0.22    2.25        -0.55           2.13
30       -1.27        0.55 -1.19    2.54        -1.01           2.16
40       -1.58        0.58 -1.94    2.58        -1.60           2.25
100      -3.21        0.66 -5.01    2.23        -4.92           2.22

#######
c=0.0, I = sign(I)
#######

noise environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.52    2.00        -0.34           2.25
20       -0.93        0.51 -0.07    2.27        -0.70           2.39
30       -1.28        0.55 -0.59    2.41        -1.22           2.34
40       -1.59        0.58 -1.18    2.49        -1.71           2.41
100      -3.22        0.67 -3.53    2.18        -4.49           2.30

flow environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.50        0.42 -3.24    4.74        -3.55           6.69
20       -0.93        0.50 -4.56    4.79        -3.96           6.67
30       -1.27        0.55 -5.43    4.49        -4.62           6.45
40       -1.59        0.58 -6.12    4.30        -5.14           6.34
100      -3.22        0.67 -8.22    3.25        -8.47           5.02

#######
c=0.0, I = sgn(I)sqrt(|I|)
#######

noise environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.52    2.00        -0.34           2.25
20       -0.93        0.51 -0.07    2.27        -0.70           2.39
30       -1.28        0.55 -0.59    2.41        -1.22           2.34
40       -1.59        0.58 -1.18    2.49        -1.71           2.41
100      -3.22        0.67 -3.53    2.18        -4.49           2.30

flow environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.52        0.43 -0.22    2.81        -1.19           3.61
20       -0.94        0.51 -1.28    3.33        -1.82           3.62
30       -1.29        0.55 -1.91    3.20        -2.46           3.64
40       -1.60        0.58 -2.85    3.33        -3.16           3.68
100      -3.23        0.67 -5.38    2.94        -6.28           3.13

#######
c=0.1
#######

noise environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.52    2.00        -0.34           2.25
20       -0.93        0.51 -0.07    2.27        -0.70           2.39
30       -1.28        0.55 -0.59    2.41        -1.22           2.34
40       -1.59        0.58 -1.18    2.49        -1.71           2.41
100      -3.22        0.67 -3.53    2.18        -4.49           2.30

flow environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.52        0.43  0.31    2.16        -0.33           2.34
20       -0.94        0.51 -0.26    2.44        -0.76           2.50
30       -1.28        0.56 -1.02    2.68        -1.38           2.53
40       -1.60        0.58 -1.67    2.70        -1.86           2.58
100      -3.22        0.68 -4.50    2.46        -4.96           2.50

#######
c=10.0
#######

noise environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.52    2.00        -0.34           2.25
20       -0.93        0.51 -0.07    2.27        -0.70           2.39
30       -1.28        0.55 -0.59    2.41        -1.22           2.34
40       -1.59        0.58 -1.18    2.49        -1.71           2.41
100      -3.22        0.67 -3.53    2.18        -4.49           2.30

flow environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.50        0.42  0.35    2.02         0.03           2.23
20       -0.92        0.51 -0.76    2.45        -0.58           2.23
30       -1.27        0.56 -1.93    2.46        -1.36           2.39
40       -1.58        0.58 -2.57    2.20        -2.07           2.44
100      -3.21        0.68 -4.65    2.07        -6.09           2.30

#######
c=1.0, market intensity scaled by a factor of 2
#######

noise environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.45  1.02    1.47         0.59           2.44
20       -0.95        0.54  0.63    1.97         0.21           2.45
30       -1.29        0.58  0.20    2.36        -0.07           2.40
40       -1.61        0.61 -0.10    2.52        -0.46           2.49
100      -3.24        0.71 -2.75    2.97        -2.82           2.67

flow environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.46  0.94    1.67         0.68           2.24
20       -0.94        0.54  0.22    2.33         0.44           2.19
30       -1.29        0.58 -0.69    2.64         0.04           2.21
40       -1.60        0.61 -1.83    2.86        -0.42           2.33
100      -3.23        0.70 -5.70    2.32        -3.78           2.58

#######
c=1.0, I = sign(I)
#######

noise environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.51        0.43  0.52    2.00        -0.34           2.25
20       -0.93        0.51 -0.07    2.27        -0.70           2.39
30       -1.28        0.55 -0.59    2.41        -1.22           2.34
40       -1.59        0.58 -1.18    2.49        -1.71           2.41
100      -3.22        0.67 -3.53    2.18        -4.49           2.30

flow environment:

      market_m  market_std  sl_m  sl_std  linear_sl_m  linear_sl_std
lots
10       -0.50        0.43  0.06    2.21         0.14           2.00
20       -0.92        0.51 -2.10    2.37        -0.39           2.11
30       -1.26        0.56 -3.25    2.15        -1.20           2.23
40       -1.57        0.59 -3.87    1.99        -2.11           2.26
100      -3.20        0.68 -5.96    2.07        -7.11           2.15